body {
	font-family: 'roboto_mono_regular';
	background: #fff;
	padding: 0;
	margin: 0;
}

body.bigimagemode,
body.bigfilemode {overflow: hidden;}

header {
	border: 4px solid #fff;
	padding-bottom: 40px;
}

a { color: #000; }

.top {
	position: fixed;
	top: 0;
	background: #fff;
	width: 100%;
	height: 40px;
	z-index: 10;
}

.bottom {
	position: fixed;
	bottom: 0;
	background: #fff;
	width: 100%;
	height: 40px;
	z-index: 10;
}

.bigfilemode #files { display: none; }
.bigimagemode #files,
.bigimagemode header { filter: blur(2px) saturate(50%); }

#bigimage {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 100;
}
.bigimagemode #bigimage { display: block; }

#bigimage > img {
	max-width:700px;
	max-height: calc(100vh - 40px);
	height: aa;
	width:auto;
	border-radius: 3px;

	margin-top: 50vh;
	margin-left: 50%;
	transform: translate(-50%, -50%);
}

#file-list {
	border: 4px solid #fff;
	display: inline-block;
	width: 100%;
	min-height: 70vh;
}

.drag #file-list { border-color: #ACFCD9; }

.file {
	padding: 20px;
	width: 160px;
	height: 160px;
	margin: 0px 40px 40px 0px;
	background: #eee;
	display: inline-block;
	position: relative;
	cursor: pointer;
	overflow: hidden;

	background-position: center;
	background-size: cover;
}

.file:hover .file-name {
	opacity: 0;
	transition: opacity 0.2s;
}

#bigfile {display: none; position: relative;}

.bigfilemode #bigfile {
	display: block;
}

#bigfile .file {
	width: 300px;
	height: 300px;
	margin-top: 50px;
	margin-left: 50%;
	transform: translateX(-50%);
}

#bigfile .file a.download {
	display: block;
	margin-top: 20px;
}

#bigfile .close-button,
#bigimage .close-button {
	position: absolute;
	top: 10px;
	right: 20px;
	cursor: pointer;
	color: #666;
	text-decoration: none;
	font-size: 20px;
}

#bigimage #gallery-left,
#bigimage #gallery-right {
	position: absolute;
	cursor: pointer;
	color: #fff;
	text-decoration: none;
	font-size: 20px;
	top: 50%;
	transform: translateY(-50%);
	padding: 200px 50px;
}

#bigimage #gallery-left { left: 15px; }
#bigimage #gallery-right { right: 15px; }

#bigimage .close-button {
	color: #fff;
}

/* Typography */

.data {
	opacity: 0;
	transition: opacity 0.2s;
	position: relative;
	z-index: 2;
}

.file:hover .data { opacity: 1; }

.file-name {
	position: absolute;
	top: 20px;
	display: block;
	z-index: 0;
	transition: color 1s;
	word-break: break-all;
}

.file.dark * {
	color: #fff;
}

.file-size {
	display: block;
	color: #999;
	margin-bottom: 20px;
	font-size: 13px;
}

.download-link { float: left; }

.delete-link { float: right; }

.wrap {
	padding: 40px;
	background: #fff;
}

span.light, label.light { color: #bcbcbc; }

span.lighter { color: #eee; }

span.motto { margin-left: 40px; }

span.drop {
	display: none;
	float: right;
}

.owner span.drop { display: inline; }

span.version { font-size: 13px; }

.update-link {
	color: #ACFCD9;
	float: right;
	margin-right: 16px;
}
