body {
	font-family: 'roboto_mono_regular';
	background: #fff;
	padding: 0;
	margin: 0;
}

header {
	border: 4px solid #fff;
	padding-bottom: 40px;
}

a {
	color: #000;
}

.top {
	position: fixed;
	top: 0;
	background: #fff;
	width: 100%;
	height: 40px;
	z-index: 10;
}

.bottom {
	position: fixed;
	bottom: 0;
	background: #fff;
	width: 100%;
	height: 40px;
	z-index: 10;
}

#file-list {
	border: 4px solid #fff;
	display: inline-block;
	width: 100%;
	min-height: 70vh;
}

.drag #file-list {
	border-color: #ACFCD9;
}

.file {
	padding: 20px;
	width: 160px;
	height: 160px;
	margin: 0px 40px 40px 0px;
	background: #eee;
	display: inline-block;
	position: relative;
}

.file:hover .file-name {
	opacity: 0;
	transition: opacity 0.2s;
}

.data {
	opacity: 0;
	transition: opacity 0.2s;
}

.file:hover .data {
	opacity: 1;
}

.file-name {
	position: absolute;
	top: 20px;
	display: block;
}

.file-size {
	display: block;
	color: #999;
	margin-bottom: 20px;
	font-size: 13px;
}

.download-link {
	float: left;
}

.delete-link {
	float: right;
}

.wrap {
	padding: 40px;
	background: #fff;
}

span.light,
label.light {
	color: #bcbcbc;
}

span.lighter {
	color: #eee;
}

span.motto {
	margin-left: 40px;
}

span.drop {
	display: none;
	float: right;
}

.owner span.drop {
	display: inline;
}

span.version {
	font-size: 13px;
}

.update-link {
	color: #ACFCD9;
	float: right;
	margin-right: 16px;
}
